<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
      />
    <title>User | videos</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Socio-tube</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-flex justify-content-end"
          id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/upload">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <br />
      
    <div class="container">
      {{#each videoArrayOfTwo}}
      <div class="row mt-4" style="">
        {{#each this}}
        <div class="col-md-4" style="margin-right: ;">
          <div class="card" style="width: 24rem;margin-right: 154rem;">
            <iframe width="380" height="180" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
            picture-in-picture" allowfullscreen=""></iframe>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <input type="hidden" id="mongoId" value="{{_id}}">

              <p class="card-text"></p>
              <div class="clearfix">
                <div class=""></div>
              </div>
              <span class="containerbtn" style="margin-right: 13rem;">
              <a href="#" class="btn btn-success" id="button1">Delete</a></span>
              <a href="#" class="btn btn-success" id="button2">Edit</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    {{/each}}
    </div>



        
          

    <script src="/js/deletepost.js"></script>
  </body>
</html>
