<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Admin | newRequests</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Socio-tube</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-flex justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <br />
    <div class="container">
      <div class="row mt-2">
        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/jLpkW5C8PqE"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>

        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/YUdOoTLv3kA"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/t-AGqhhNBE4"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>

        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/1sb68Jrc0q8"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>
      </div>
      <div class="row  mt-3">
        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/1kUmkq5D-ss"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>

        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/zlHx-YIKfsc"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>
      </div>
      <div class="row  mt-3">
        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/ye0Jua2hIj8"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>

        <div class="col-md-6">
          <iframe
            width="500"
            height="300"
            src="https://www.youtube.com/embed/Zt52ABQw_cw"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p>Category</p>
          <h5>A small step can change many outcomes.</h5>
          <p>Published: 3 August, 2015</p>
          <button type="button" class="btn btn-secondary btn-sm">
            Accept
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
