<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Uplaod your videos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Uplaod your videos below</h2>
                <hr>
                <form action="" method="">
                   
                        <div>
                                <label>Write the appropaite title</label>
                                 <textarea class="form-control" rows="5" id="title"></textarea>
                        </div>
                        <div>
                                <label>Write the whole content here</label>
                                 <textarea class="form-control" rows="5" id="title"></textarea>
                        </div>
                        <div>
                                <label>Your Message </label>
                                 <textarea class="form-control" rows="5" id="title"></textarea>
                        </div>
                        <p></p>
                            <input id="video_file" name="video_file" type="file">
                      <p></p>
                        <button type="submit" class="btn btn-danger">Submit</button>
                        
                </form>
            </div>
        </div>
    </div>
</body>
</html>